.App {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 200;
  margin: 0;
}
.articles_container {
  display: flex;
  align-items: center;
  gap: 150px;
}
.article_list {
  display: flex;
  flex-direction: column;
  margin-top: 7em;
}
.article_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 11rem;
  border: 1.2px solid #938CBE;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
}
.article_item h2 {
  margin: 0;
}
.article_item button {
  cursor: pointer;
  display: flex;
  align-self: end;
  margin-top: auto;
  color: #FFF;
  border: none;
  background: none;
}

.article_modal_container {
  border: 1.2px solid #938CBE;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 40%;
}

.article_modal > button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}